body{
    font-family: 'Noto Sans JP';
}
header div {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #015875;
    color: #55DDE0;

}

header ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    font-size: x-large;
}


main section{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content:space-around;
    background-color: #55dee0af;
}
main div b{
    font-size: large;
}
main div{

}
main p1{
    margin: 40px;
    padding: 20px;
    background-color: white;
}
main div{
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 15% 75% ;
    background-color: aquamarine;
}

footer h3{
    text-decoration: none;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}