nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    font-size: x-large;
}
header h1{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #015875;
    color: #55DDE0;
}

a:link{
    color: black;
}
a:visited{
    color: black;
}

@media only screen and (max-width: 600px){}
@media only screen and (min-width:600px){}
@media only screen and (min-width:768px){}
@media only screen and (min-width:992px){}
@media only screen and (min-width:1200px){}